<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1> Server name: {{ ansible_fqdn }} </h1>
<h5>Server ip: {{ ansible_ssh_host }}</h5>
<h5>Server OS: {{ ansible_distribution }}</h5>
</body>
</html>
